<div>
  <div>
    <app-navbar></app-navbar>
  </div>
  <div class="container">
    <div class="centralaizer">
      <div class="titleContainer">
        <div>
          <h2>Bem-vindo!</h2>
        </div>
        <div>
          <p>Vamos lá. Você é empresa ou candidato?</p>
        </div>
      </div>
      <div class="containerBotoes">
        <div>
          <a routerLink="/entrar/empresa">
            <button>Sou empresa</button>
          </a>
        </div>
        <div>
          <a routerLink="/entrar/candidato">
            <button>Sou candidato</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
