<div class="formularioBuscarContainer">
  <h2 class="formularioBuscarTitulo">
    Filtre sua busca
    <button class="formularioBuscarBotaoLimpa">Limpar</button>
  </h2>
  <div class="ajuste">
    <label class="label"> Foco de Carreira </label>
    <input type="text" name="" id="" class="formularioBuscarInput" />
  </div>
  <div class="ajuste">
    <label class="label"> Habilidades </label>
    <input type="text" name="" id="" class="formularioBuscarInput" />
  </div>
  <div class="formularioBuscarCheckBoxContainer">
    <h2 class="title">Tipo de vaga</h2>
    <div class="formularioBuscarCheckBoxDisplay">
      <input
        type="checkbox"
        name="CLT"
        id=""
        class="formularioBuscarCheckBox"
      /><label for="">Remoto</label>
      <input
        type="checkbox"
        name="PJ"
        id=""
        class="formularioBuscarCheckBox"
      /><label for="">Presencial</label>
    </div>
  </div>
  <div class="ajuste">
    <label fontWeight="bold">Cidade da empresa</label>
    <input type="text" name="" id="" class="formularioBuscarInput" />
  </div>
  <div class="ajuste">
    <h2 class="title">Senioridade</h2>
    <div class="formularioBuscarCheckBoxDisplay">
      <input
        type="checkbox"
        name="CLT"
        id=""
        class="formularioBuscarCheckBox"
      /><label for="">Junior</label>
      <input
        type="checkbox"
        name="PJ"
        id=""
        class="formularioBuscarCheckBox"
      /><label for="">Pleno</label>
      <input
        type="checkbox"
        name="PJ"
        id=""
        class="formularioBuscarCheckBox"
      /><label for="">Senior</label>
    </div>
  </div>
  <div class="ajuste">
    <h2 class="title">Regime de trabalho</h2>
    <div class="formularioBuscarCheckBoxDisplay">
      <input
        type="checkbox"
        name="CLT"
        id=""
        class="formularioBuscarCheckBox"
      /><label for="">CLT</label>
      <input
        type="checkbox"
        name="PJ"
        id=""
        class="formularioBuscarCheckBox"
      /><label for="">PJ</label>
    </div>
  </div>
  <div class="sliderBox">
    <mat-slider
      class="slider"
      min="1000"
      max="27000"
      step="1"
      value="27000"
    ></mat-slider>
  </div>

  <div display="flex" width="100%">
    <button class="BotaoFiltrar">FILTRAR</button>
  </div>
</div>
